/* $Id: styles.css,v 1.1 2009/01/31 21:28:46 dvessel Exp $ */

@font-face {
   font-family: SPLaksaman;
   src: url('http://thaiopensource.org/sites/default/themes/toss2011/fonts/SPLaksaman.ttf') format('truetype');
}

@font-face {
   font-family: SPLaksamanBold;
   src: url('http://thaiopensource.org/sites/default/themes/toss2011/fonts/SPLaksaman-Bold.ttf') format('truetype');
}


h1#site-name {
  margin-bottom: 0;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}


/* customized */

#inline_ajax_search_container {
    text-align: center;
    
}

#inline_ajax_search {
    border: 1px solid #ccc;
    font-size: 16pt;
    width: 600px;
    height: 40px;
    font-family: SPLaksaman,sans;
    background: url("http://thaiopensource.org/sites/default/themes/toss2011/images/input.png") repeat-x scroll left top #eee;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#inline_ajax_search_results {
   background: #552200;
   margin: 0 169px;
   text-align: left;
   color: #fff;
}

.searchresult  {
   height:30px;
   border-bottom: 1px dashed #aaa;
}

.searchresult h3 a {
   margin: 0 10px;
   font-size: 10pt;
   text-decoration: none;
   font-weight: normal;
   color: #fff;   
}

#logo {
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
}


body {
  font-family: SPLaksaman,sans;
  font-size: 14px;
}

h1,h2 {
  font-family: SPLaksamanBold;
  font-size: 22px;
}

.main-menu {
  background: #552200;
  border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  height:24px;
}


.main-menu li {

}


.main-menu li a {
  text-decoration:none; 
  color: #fff;  
  padding-left:5px;
  padding-right:5px;
  font-size:14px;
}


div #area h2 {
  padding: 10px;
  margin-bottom: -10px
}


div #area p {
  padding: 0px;
}


a, #page-title, .block h2 {
   color:#552200;
   text-decoration:none;
}


#footer {
   font-size:14px;
   text-align:center;
}


div #area1, #area1 a,div #area2,div #area3 {
  background: #552200;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
}


#area1 h2,#area2 h2,#area3 h2 {
  font-family: SPLaksamanBold,sans; 
  font-size:16px;
color:#fff;
}


#area1 ul,#area2 ul,#area3 ul {
  margin-top: 20px;
}


.content li {
  margin-left: 35px
}

h1 {
  margin-bottom: 10px;
}

.meta {
  margin-bottom: 10px; 
}

#page {
   background: #fff;
}

ul.links {
   padding: 3px;
}

.status {
   margin-left: 35px
}


.searchthrobber {
    display: block;
   height : 16px;
   width : 16px;
margin-top: -30px;
   margin-left:740px;
    position: relative;
    z-index: 30;
}


.item-list {
font-size:12px;
}

.front li {
font-size:14px;
}

.facebookshare-box {
padding-bottom: 10px;
padding-left: 10px;
}


#sidebar-right .block, #main-content .block {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #eee;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #bbb;
}


#sidebar-right {
  background:#fff;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#logomini {
   height: 100px;
   margin-left: 20px;
}

.views-table tr th{
  background: #eee;
}

code {
  border-left: 3px solid #793000;
  padding-left: 5px;
  background: #eee;
}

#nodefooter {
  background: #eee;
  border-radius:2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #bbb;
}

.textwidget {
  text-align: center;
margin-top:12px;
}

#facemask {
    background-position : -600px;
    display: block;
    height: 300px;
    margin: 0 0 -300px;
    position: relative;
    z-index: 90;
}

.picture {
  float: right;
  padding-left: 10px;
}

.comment {
 border: 1px solid #bbb;
 border-radius:5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 padding: 5px;
 background: #eee;
}
